@font-face {
  font-family: 'Stardew Valley';
  src: url('../fonts/Stardew_Valley.otf');
}

* {
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: row;
  font-family: "Inter", sans-serif;
}


/* Estilização Barra Lateral COMEÇA AQUI */
.navbar-lateral {
  display: flex;
  flex-direction: column;
  background-color: #CF963C;
  color: #3E2429;
  justify-content: space-between;
  height: 100vh;
  position: sticky;
  top: 0;
}

.lateral-saudacoes {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 30px;
}

.lateral-titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 150px;
  padding-top: 15%;
}

.lateral-titulo #foto_usuario {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: #3E2429;
  color: #CF963C;
  width: 45px;
  height: 45px;
  border-radius: 100%;
}

.lateral-titulo p {
  text-align: center;
  font-size: 12px;
}

.lateral-titulo h2 {
  font-size: 18px;
}

.lateral-opcoes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lateral-opcoes .opcao {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  text-decoration: none;
  color: #3E2429;
}


.lateral-opcoes #selecionada {
  text-decoration: underline;
}

.lateral-sair {
  display: flex;
  gap: 10px;
  padding: 20px 28px;
  border-top: 1px solid #3E2429;
}
.lateral-sair:hover{
  cursor: pointer;
}

.lateral-sair span {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #3E2429;
}


/* Estilização Barra de Navegação COMEÇA AQUI */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  box-shadow: 1px 2px 10px #0000002d;
  width: 100%;
}

.navbar .opcoes {
  display: flex;
  gap: 40px;
  font-family: "Inter", sans-serif;
}

/* Estilização Barra de Navegação ACABA AQUI */


/* Estilização Mural COMEÇA AQUI */
.container-seu-espaco,
.container-dashboard,
.container-comunidade {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.principal-seu-espaco {
  display: flex;
  flex-direction: row;
  padding: 4% 12% 0 12%;
  width: 100%;
  justify-content: space-between;
}

.descricao {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  gap: 10px;
  width: 300px;
  padding: 10px 0;
}

.imagem-favorita {
  width: 200px;
}

#div_fazenda {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E1633F;
}

#div_fazenda img {
  width: 100px;
  margin: 10px 0;
}

#div_pet {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #63C6FD;
}

#div_pet img {
  width: 70px;
  margin: 10px 0;
}


#div_personagem {
  display: flex;
  align-items: flex-end;
  background-color: #8EDF42;
}

#div_personagem img {
  width: 200px;
  height: 120px;
}

.favoritos {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.favorito {
  display: flex;
  gap: 10px;
}

#img-quiz {
  width: 185px;
}
#img-quiz:hover{
  cursor: pointer;
}

/* Estilização Mural ACABA AQUI */


/* Estilização Dashboard COMEÇA AQUI */
.principal-dashboard {
  padding: 5%;
}

.metricas {
  display: flex;
  justify-content: space-evenly;
}

.metrica {
  display: flex;
  align-items: center;
  gap: 10px
}

.metrica span {
  display: flex;
  background-color: #CF963C;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}

.metrica span img {
  width: 35px;
}

.metrica #favoritado {
  width: 55px;
}

.metrica-titulo h1 {
  font-size: 14px;
}

.metrica-titulo p {
  font-size: 12px;
}

.graficos {
  display: flex;
  flex-direction: column;
  padding: 5%;
  gap: 50px;
}


.grupo-graficos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.grafico-tres {
  height: 250px;
}
.grafico-um{
  width: 400px;
}

.grafico{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

/* Estilização Dashboard ACABA AQUI */


/* Estilização Comunidade COMEÇA AQUI */
.principal-comunidade {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-family: 'Stardew Valley';
  margin-top: 5%;
}
.principal-comunidade button{
  font-family: 'Stardew Valley';
  font-size: 30px;
  border-radius: 5px;
  border: #CF963C 4px solid;
  background-color: #F3B46C;
  cursor: pointer;
}

.principal-comunidade .formulario {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 15px;
  background: no-repeat url('../assets/img/fundo-formulario.png');
  background-size: 700px;
  background-position: center;
}
.principal-comunidade .formulario h1{
  font-size: 30px;
}
.principal-comunidade .formulario h2{
  font-size: 22px;
}
.principal-comunidade .formulario textarea, input{
  border-radius: 5px;
  border: none;
  background-color: #F3B46C;
}
.principal-comunidade .formulario textarea{
  height: 110px;
}
.principal-comunidade .formulario input{
  height: 30px;
}
#button-formulario{
  height: 40px;
  color: #22740A;
  margin-top: 10px;
  width: 30%;
  align-self: center;
}
#button-sair{
  color: #B91F17;
  margin-left: -30px;
  margin-top: 15px;
  font-size: 18px;
}

.container-comunidade-parte2{
  display: flex;
  flex-direction: column;
  padding: 5% 8%;
  gap: 20px;
}
.container-comunidade-parte2 h1{
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: normal;
}
.container-comunidade-parte2 h1 span{
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.container-comunidade-parte2 .comentarios{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.container-comunidade-parte2 .comentarios .comentario{
  display: flex;
  flex-direction: column;
  background-color: #FFE5B4;
  border: 2px solid #F9BA66;
  padding: 20px;
  gap: 30px;
}
.container-comunidade-parte2 .comentarios .comentario h2{
  font-size: 18px;
}
.container-comunidade-parte2 .comentarios .comentario p{
  font-size: 14px;
}
.container-comunidade-parte2 .comentarios .comentario .comentario-corpo{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Estilização Comunidade ACABA AQUI */

/* Estilização Construção COMEÇA AQUI */
.construcao {
  position: fixed;
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
  border: 2px solid #00000021;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  font-weight: bold;
  color: #3E2429;
  box-shadow: -2px 2px 8px #00000030;
  margin-top: 8%;
  margin-right: 20px;
  flex-direction: column;
  justify-content: center;

  /* visibilidade da div */
  opacity: 0;
}
.construcao h1{
  font-size: 16px;
}
.construcao img{
  width: 90px;
}
.construcao p{
  font-size: 12px;
  font-weight: normal;
  text-align: center;
}

.construcao-pai{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}