* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Estilização da Barra de Navegação COMEÇA AQUI */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 1px 2px 10px #0000002d;
    margin-bottom: 50px;
}

.navbar .opcoes {
    display: flex;
    gap: 55px;
    font-family: "Inter", sans-serif;
}

.navbar .opcoes a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
    font-size: 16px;
}

/* Estilização da Barra de Navegação ACABA AQUI */


/* Estilização do Rodape COMEÇA AQUI */
.footer-inicio {
    display: flex;
    justify-content: space-between;
    background-color: #854D23;
    padding: 30px 40px;
}

.footer-apresentacao {
    display: flex;
    gap: 5px;
    flex-direction: column;
    font-family: "Ubuntu", sans-serif;
    padding-bottom: 30px;
}

.footer-apresentacao p {
    font-size: 12px;
}

.footer-titulo {
    display: flex;
    gap: 8px;
    align-items: center;
}

.footer-titulo img {
    width: 30px;
}

.footer-titulo h3 {
    font-size: 20px;
}

.footer-redes {
    display: flex;
    gap: 15px;
    align-self: self-end;
}

.footer-redes img {
    width: 35px;
}

.direitos {
    background-color: #000;
    color: #FFF;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 10px;
    padding: 10px 0;
    font-weight: 400;
}

/* Estilização do Rodape ACABA AQUI */


/* Estilização do Banner COMEÇA AQUI */
.banner {
    display: flex;
    flex-direction: column;
    background-image: url('../assets/img/banner.png');
    height: 950px;
}

.banner-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    gap: 40px;
    padding-top: 150px;
}

.banner-titulo h1 {
    font-family: "Press Start 2P", system-ui;
    font-size: 60px;
    text-align: center;
    color: #C29905;
    text-shadow: -10px 10px 2px #00000044;
}

.banner-titulo h2 {
    font-family: "Ubuntu", sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #010D1D;
    text-align: center;
}

/* Estilização do Banner ACABA AQUI */


/* Estilização do "Sobre o Jogo" COMEÇA AQUI */
.sobre-jogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    gap: 30px;
}

.sobre-jogo h1 {
    font-family: "Press Start 2P", system-ui;
    font-size: 40px;
    text-shadow: -3px 3px 2px #00000044;

}

.sobre-jogo p {
    font-family: "Inter", sans-serif;
    text-align: center;
}

#img_junimos {
    width: 80%;
}

/* Estilização do Login COMEÇA AQUI */
.container-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.formulario-titulo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.formulario-titulo div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario-titulo h1{
    font-family: "Press Start 2P", system-ui;
    font-size: 40px;
}
.formulario-titulo p{
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    font-size: 14px;
}

.formulario{
    display: flex;
    font-family: "Ubuntu", sans-serif;
    flex-direction: column;
    background-color: #F3B46C;
    border-radius: 5px;
    width: 32%;
    padding: 30px 40px 20px 40px;
    gap: 20px;
    color: #3E2429;
}
.formulario button{
    background-color: #DC8012;
    border: none;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    border-radius: 4px;

}
.formulario button, select, input{
    font-size: 14px;
    height: 35px;
    width: 100%;
}

.formulario input::placeholder{
    color: #000;
}

.formulario select, input{
    border: solid 2px #DC8012;
    background-color: #F9BA66;
    box-shadow: -4px 4px 2px #0000005e;
    border-radius: 5px;
    padding-left: 10px;
}

.formulario span{
    text-align: center;
    font-size: 12px;
}
.formulario span a{
    font-weight: bold;
    color: #3E2429;
}

.formulario-campos{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.campo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.campo span{
    font-size: 14px;
    text-align: left;
}

.campo input:focus{
    outline: none;
}
/* Estilização do Login ACABA AQUI */
 

/* Estilização do Cadastro COMEÇA AQUI */
.main-cadastro .imagem-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-cadastro .imagem-footer img{
    width: 92%;
}

#span_nome{
    width: 22%;
}
#span_personagem{
    width: 28%;
}
#span_coisa{
    width: 20%;
}
#span_perfeicao{
    width: 26%;
}
#span_verdadeira{
    width: 72%;
}
#span_favorita{
    width: 19%;
}
#span_animal{
    width: 20%;
}

#mensagem{
    color: #FF0000;
    font-size: 12px;
}